.navbar-label {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: white;
  transition: 0.3s;
}

.navbar-label:hover {
  color: black;
  transition: 0.3s;
}

.navbar-logo {
  height: 80%;
}

.navbar-tabs-background {
  height: 100vh;
  background: rgb(155, 0, 0);
}

@media screen and (max-width: 768px) {
  .navbar-label {
    font-size: 18px;
  }
}
