@font-face {
    font-family: nos;
    src: url(Suicide\ Squad\ Font.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
*{
    margin :0px;
    padding: 0px;
    box-sizing: border-box;
}

.bigimage{
    background-image: url("image/background.png");
    background-repeat: no-repeat;
    background-position: center center; 
    position: relative; 
    object-fit : cover;
    width : 100%;
    height :100vh;
    z-index : -0.5;
    display : flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba (0,0,0,0.2);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.overlay{
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.overlay>h1 {
    color: rgba(0, 0, 0, 0.5);
    font-size : 8em;
    font-family:nos;
    text-shadow : 0 0 20px #FF1694;
    text-align: center;
    margin-top: 15%;
}
.overlay>h2 {
    display: grid;
    align-items: center;
    color : white;
    font-size :5em;
    font-family:nos;
    text-align: center; 
    height: 0.5em; 
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: visible;
}
.overlay>h2:before,.overlay>h2::after
{
    background: white;
    height: 4px;
    content: '';
    z-index: -0.5;
    top: 100%;
    width:30%;
    position: absolute;
    border-radius: 2px;
    margin-left: 2%;
    margin-right:2%

}


.overlay>h2::after
{
    left:0;
}

.overlay>h2::before
{
    right:0;
} 

@media (max-width:768px)
{
    .overlay>h1{
    font-size : 4.5em;
    }
    .overlay>h2{
        font-size : 2.3em;
    }
    .overlay>h2:before,.overlay>h2::after
    {
    width:30%;
    }
}


.bigimage2{
    background-image:url("image/hahaha.png");
    background-position: center center; 
    background-attachment: fixed;
    background-size: cover;
    display: flex; 
    flex-direction: column;
    width: 100%;


    
}
/* .overlay
{
    display:  flex;
} */
.overlay2>h1 {
    color: rgba(0, 0, 0, 0.5);
    font-size : 100px;
    font-family:nos;
    text-shadow : 0 0 20px #FF1694;
    text-align: center;
    margin-top: 5%;
    /* text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #FF1694,
      0 0 82px #FF1694,
      0 0 92px #FF1694,
      0 0 102px #FF1694,
      0 0 151px #FF1694; */
}


.content-event
{
    display:  flex;
    flex-direction: row;
}

.content-event img
{
    height:auto;
    max-width : 100%;
    /* margin-left: 2%;
    margin-right: 2%; */
}
.content-event-text h2
{
    font-family: 'Abel', sans-serif;
    color: white;
    font-size: 3em;
    text-align :left;
    padding-left: 5%;
}
.content-event-text p
{
    padding-right:5% ;
    padding-left: 5%;
    font-family: 'Abel', sans-serif;
    color: white;
    text-align :justify;
    font-size: 1.5em;
}

@media (max-width:768px)
{
    .overlay2>h1 {
        font-size: 2.6em;
    }

    .content-event-text h2
{

    font-size: 2em;

}
.content-event-text p
{
    font-size: 1.5em;
}
.content-event
{
    display: block;
}
.content-event img
{
    overflow: auto;
}
}
