@font-face {
    font-family: nos;
    src: url(Suicide\ Squad\ Font.ttf);
  }
  @font-face {
    font-family: nos2;
    src: url(TsukimiRounded-Regular.ttf);
  }
  @import url("https://fonts.googleapis.com/css2?family=Sunflower:wght@500&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300&display=swap");
  
  * {
    margin: 0px;
    padding: 0px;
  }

  .general {
    background-image: url("image/grafitti/Grafitti.png");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-family: nos;
    font-size: 100%;
    align-items: center;
    color: #fff;
    text-align: center;
    width: 100%;
  }

  .grafitti {
    background :  rgba(0, 0, 0, 0.5) url("image/grafitti/Grafitti.png") ;
    display: flex;
    flex-direction : column;
    max-width: 100%;
  }

  .neon-row {
    width : 80%;
    justify-content: center;
    margin: 5%;
    display: flex;
    flex-direction: row;
  }

.neon-item {
    padding: 10px;
    max-width: 20%;
}
  .home {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 63.54%, rgba(0, 0, 0, 0.95) 100%),
    url("image/petir.png");
  background-repeat: no-repeat;
  position: absolute;
  object-fit: cover;
  width: 100%;
  z-index: -0.5;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  -webkit-background-size: cover;
  /* -moz-background-size: cover; */
  /* -o-background-size: cover; */
  /* background-size: contain;
  background-position: center center; */
  }

  .overlay-3 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  
  /* .overlay-3 > img {
    font-family: 'Suicide Squad Font';
font-style: normal;
font-weight: 400;
font-size: 196px;
line-height: 225px;
display: flex;
align-items: center;
text-align: center;

border: 6.12917px solid #FFFFFF;
filter: blur(2.04306px);
  } */