/*General Content Box*/

.content-box{
    position: relative;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;

    width: 1350px;
    height: auto;
    min-height: 823px;

    margin: auto;
    scale: 90%;
    top: -120px;

    border-radius: 10px;


    box-shadow:
                0 0 7.8px 11.4px #FFFFFF, /* white border */
                inset 0 0 7.8px 5.4px #FFFFFF, /* white border inset */
                0 0 10.8px 12px #23f6f6,  /* light-blue extends a bit from white */
                inset 0 0 10.8px 15px #23f6f6, /* light-blue inset */
                0 0 180px 40px rgba(0, 168, 168, 1), /* large blue glow */
                inset 0 0 80px 20px rgba(0, 168, 168, 0.8); /* large blue glow inset*/

    background-color: rgba(54, 87, 96, 0.8);
}

.content-flex-container{
    position: relative;

    min-width: 97%;
    min-height: 97%;
    height: auto;
    width: auto;
    display: flex;

    left: 50%;
    transform: translateX(-50%);

}

.content{
    flex: 1;
}


/*Contact Us & google Form*/

.contact-us{
    flex-grow: 9;
    flex-direction: column;

    margin-top: 15px;
    margin-bottom: 15px;

    background: rgba(65, 233, 202, 0.83);
    border-radius: 10px;

    text-align: center;
    align-items: center;

    display: flex;
}

.contact-us p{
    width: 100%;
    height: 83px;
    margin-top: 20px;


    font-family: 'Suicide Squad Font', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 83px;

    color: #000000;

    z-index: 1;
}

.contact-us .iframe-flex-container{
    width: 100%;
    height: 80%;
    flex-grow: 1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-us .iframe-box{
    position: relative;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.contact-us iframe{
    width: 100%;
    height: 100%;
}



/*FAQS*/

.faq-box{
    flex-grow: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.faq-box-scroll-container{
    max-height: 790px;
    overflow-y: scroll;
}

.faq-box Button{
    height:168px;
    position: relative;
    width: 92%;

    background: rgba(98, 182, 201, 0.93);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    margin-top: 15px;

    /*already a built in bottom margin: 8px,*/
    margin-bottom: 7px;

    color: black;
    font-family: "Suicide Squad Font", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 41px;

    padding-right: 152px;

    transition: transform 250ms !important;
}

.faq-box .triangle{
    position: absolute;
    z-index: 0;

    left:0;
    /*controls triangle position*/
    right:45px;
    margin-left:auto;

    top: 50%;
    transform: translateY(-50%);

    transition: 250ms;
}

.faq-box .triangle.active{
    transform: rotate(180deg);
    transform-origin: 50% 20%;
    transition: 250ms;
}

.faq-box .collapse-container{
    position: relative;
}

.faq-box Button:hover{
    background-color: rgba(98, 182, 201, 0.93);
    box-shadow: none;
    color: black;
    transform: scale(1.02);
}
.faq-box Button[aria-expanded="true"]{
    background-color: rgba(98, 182, 201, 0.93);
    box-shadow: none;
    color: black;

}
.faq-box Button[aria-expanded="false"]{
    background-color: rgba(98, 182, 201, 0.93);
    box-shadow: none;
    color: black;

}

.collapse-text-general{
    position: relative;
    margin: 8px 4% 8px;

    padding: 8px 12px 8px;
    border-radius: 10px;
    background: white;
    text-align: center;
    font-size: 18px;
}



@media screen and (max-width: 1550px){
    .content-box{
        width: 1250px;
    }
}

@media screen and (max-width: 1380px){
    .content-box{
        width: 1100px;
        padding-right: 8px;
    }
}

@media screen and (max-width: 1110px){

    .content-box{
        position: relative;
        width: 94%;
        padding-left: 0;
        padding-right: 0;

    }

    .content-flex-container{
        position: relative;

        padding: 5px 5px 30px;
        margin: 0;
        width: 80%;
        flex-direction: column;
        flex-wrap: wrap;
        left: 50%;
        transform: translateX(-50%);
    }

    .contact-us{
        width: 92%;
        margin: 30px auto 15px;
    }

    .contact-us .iframe-flex-container{
        height: auto;

    }

    .contact-us .iframe-box{
        height: auto;
    }

    .contact-us iframe{
        width: 100%;
        height: 680px;
    }

    .faq-box{
        position: relative;
    }

    .collapse-container{
        min-width: 0;
    }

    .collapse-text-general{
        margin-top: 15px;
    }


}

@media screen and (max-width: 730px) {
    .content-flex-container{
        padding-bottom: 15px;
        padding-top: 0;
    }

    .faq-box Button{
        margin-top: 10px;
        margin-bottom: 2px;
        padding-right: 130px;
    }

    .contact-us{
        margin-bottom: 10px;
        margin-top: 25px;
    }

    .faq-box .triangle{
        scale: 80%;
        top: 80px;
        right: 36px;
    }
}

@media screen and (max-width: 650px ){
    .content-flex-container{
        padding-bottom: 10px;
    }
    .contact-us{
        margin-top: 18px;
    }

    .collapse-text-general{
        font-size: 16px;
    }
}

@media screen and (max-width: 520px) {
    .contact-us p{
        font-size: 54px;
    }

    .faq-box Button{
        margin-top: 8px;
        margin-bottom: 0;
        font-size: 30px;
        line-height: 36px;
        padding-right: 110px;
    }
    .contact-us{
        margin-top: 16px;
    }

    .content-box{
        padding-bottom: 10px;
    }

    .faq-box .triangle{
        scale: 70%;
        top: 76px;
        right: 23px;
    }
}

@media screen and (max-width: 420px) {
    .contact-us p{
        font-size: 40px;
    }

    .faq-box Button{
        margin-top: 4px;
        margin-bottom: 0;
        padding-right: 90px;

    }

    .collapse-text-general{
        margin-top: 12px;
    }

    .faq-box Button{
        font-size: 28px;
        line-height: 33px;
    }

    .faq-box .triangle{
        scale: 60%;
        top: 76px;
        right: 14px;
    }
}

@media screen and (max-width: 370px ){
    .content-box{
        padding-top: 0;
    }
    .content-flex-container{
        padding-bottom: 10px;
    }
    .contact-us{
        margin-top: 25px;
    }
    .faq-box Button{
        font-size: 24px;
        line-height: 30px;
    }
}