/*General Content Box*/

.content-box{
    position: absolute;
    /*width: 1193px;*/

    width: 1193px;
    height: auto;
    min-height: 823px;

    /*width: 60vw;*/
    /*height: 80vh;*/
    left: 50%;
    transform: translate(-50%);
    top: 498.5px;

    /*margin-top: 30vh;*/
    /*margin-left: 20vw;*/
    /*margin-right: 20vw;*/

    /*margin-left: 700px;*/
}

.content-box-static-placeholder{
    position: relative;
    display: block;

    height: 823px;

}

.content-flex-container{
    padding: 15px;
    margin: 15px;
    min-width: 97%;
    min-height: 97%;
    height: auto;
    width: auto;
    display: flex;
    /*left: 195px;*/
    /*top: 529px;*/
}

.content{
    flex: 1;
}


/*Content Box Borders*/

.rectangle20{
    box-sizing: border-box;

    position: absolute;
    width: inherit;
    min-height: inherit;
    height: 100%;
}

.rectangle20#one{
    border: 8.4px solid #FFFFFF;
    filter: blur(2.8px);
    border-radius: 10px;
}

.rectangle20#two{
    border: 16.8px solid #33E9E9;
    filter: blur(4.2px);
    border-radius: 10px;
}

.rectangle20#three{
    mix-blend-mode: hard-light;
    border: 27.3px solid rgba(51, 233, 198, 0.2);
    box-shadow: inset -2.73px 5.46px 2.73px rgba(255, 255, 255, 0.5);
    filter: drop-shadow(0px 42px 54.6px #009999) drop-shadow(0px 27.3px 21px rgba(0, 77, 70, 0.7));
    border-radius: 10px;
}

.rectangle20#four{
    mix-blend-mode: hard-light;
    border: 35.7px solid #00A8A8;
    filter: blur(42px);
    border-radius: 10px;
}

.rectangle20#five{
    mix-blend-mode: hard-light;
    border: 27.3px solid #00A8A8;
    filter: blur(126px);
    border-radius: 10px;
}

.ellipseContent{
    position: absolute;
    /*width: 1431.6px;*/
    /*height: 987.6px;*/

    width: 90%;
    height: 100%;

    left: 50%;
    transform: translate(-50%);
    top: 40vh;

    /*background: red;*/
    background: rgba(51, 233, 198, 0.1);

    mix-blend-mode: hard-light;
    filter: blur(126px);
}

/*.rectangleContent{*/
/*    position: absolute;*/
/*    width: 1193px;*/
/*    height: 823px;*/
/*    left: 50%;*/
/*    transform: translate(-50%);*/
/*    top: 87px;*/

/*    border-radius: 84px;*/
/*}*/


/*Contact Us & google Form*/

.contact-us{
    /*box-sizing: border-box;*/

    flex-grow: 9;
    flex-direction: column;

    /*width: 479px;*/
    /*height: 754px;*/

    background: rgba(65, 233, 202, 0.83);
    border-radius: 10px;
    margin: 5px;

    text-align: center;
    /*justify-content: center;*/
    align-items: center;

    display: flex;
}

.contact-us p{
    /*position: relative;*/
    width: 458px;
    height: 83px;
    /*bottom: -20px;*/
    margin-top: 20px;


    font-family: 'Suicide Squad Font';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 83px;

    /*align-items: center;*/
    /*text-align: center;*/
    /*justify-content: center;*/

    color: #000000;

    z-index: 1;
}


/*FAQS*/

.faq-box{
    flex-grow: 10;
    background: red;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    /*position: relative;*/

    padding-top: 10px;
    padding-bottom: 10px;
}

.faq-box Button{
    height:168px;
    /*width: 624px;*/
    width: 88%;



    background: rgba(98, 182, 201, 0.93);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;

    position: relative;
}

.collapse-text-general{
    position: relative;
    margin: 6px 6% 12px;

    padding: 8px;
    border-radius: 10px;
    background: white;
    text-align: center;
}

