/*General Content Box*/

.content-box{
    position: relative;
    /*width: 1193px;*/

    width: 1350px;
    height: auto;
    min-height: 823px;
    padding-top: 10px;

    /*width: 60vw;*/
    /*height: 80vh;*/
    left: 50%;
    transform: translate(-50%);
    /*transform: translate(-50%) scale(95%);*/
    /*top: 498.5px;*/

    /*margin-top: 30vh;*/
    /*margin-left: 20vw;*/
    /*margin-right: 20vw;*/

    /*margin-left: 700px;*/
}

.content-flex-container{
    position: relative;

    padding: 15px;
    margin: 15px;
    min-width: 97%;
    min-height: 97%;
    height: auto;
    width: auto;
    display: flex;
    /*left: 195px;*/
    /*top: 529px;*/

    left: 50%;
    transform: translateX(-50%);

    padding-bottom: 18px;
    padding-right: 20px;

}

.content{
    flex: 1;
}


/*Content Box Borders*/

.rectangle20{
    box-sizing: border-box;

    position: absolute;
    width: 98%;
    min-height: 98%;
    top: 28px;
    left: 50%;
    transform: translateX(-50%);
    /*height: 100%;*/
    /*transform: scaleX()(103%);*/
}

.rectangle20#one{
    border: 9.4px solid #FFFFFF;

    filter: blur(2.8px);
    border-radius: 10px;

    /*transform: translateX(-50%);*/


    z-index: 0;

}

.rectangle20#two{
    border: 16.8px solid #23f6f6;
    filter: blur(4.2px);
    border-radius: 10px;
    z-index: -1;
}

.rectangle20#three{
    mix-blend-mode: hard-light;
    border: 27.3px solid rgba(51, 233, 198, 0.2);
    /*box-shadow: inset -2.73px 5.46px 2.73px rgba(255, 255, 255, 0.5);*/
    box-shadow: inset 2.73px -5.46px 2.73px rgba(255, 255, 255, 0.5);
    /*filter: drop-shadow(0px 42px 54.6px #009999) drop-shadow(0px 27.3px 21px rgba(0, 77, 70, 0.7));*/
    filter: drop-shadow(0px 42px 54.6px #009999);
    border-radius: 10px;
    z-index: -2;
}

.rectangle20#four{
    mix-blend-mode: hard-light;
    border: 35.7px solid #00A8A8;
    filter: blur(42px);
    border-radius: 10px;
    z-index: -3;
}

.rectangle20#five{
    mix-blend-mode: hard-light;
    border: 27.3px solid #00A8A8;
    filter: blur(126px);
    border-radius: 10px;
    z-index: -4;
}

.rectangle20#six{
    mix-blend-mode: hard-light;
    border: 35.7px solid #365760;
    background-color: #365760;
    filter: blur(420px);
    border-radius: 10px;
    z-index: -5;
}

.ellipseContent{
    position: absolute;
    /*width: 1431.6px;*/
    /*height: 987.6px;*/

    width: 120%;
    min-height: 120%;
    top: -40px;

    left: 50%;
    transform: translate(-50%);
    /*top: 40vh;*/

    /*background: red;*/
    background: rgba(51, 233, 198, 0.1);

    mix-blend-mode: hard-light;
    filter: blur(126px);

    z-index: -6;
}

/*.rectangleContent{*/
/*    position: absolute;*/
/*    width: 1193px;*/
/*    height: 823px;*/
/*    left: 50%;*/
/*    transform: translate(-50%);*/
/*    top: 87px;*/

/*    border-radius: 84px;*/
/*}*/


/*Contact Us & google Form*/

.contact-us{
    /*box-sizing: border-box;*/


    flex-grow: 9;
    flex-direction: column;

    /*width: 479px;*/
    /*height: 754px;*/
    margin-top: 15px;
    margin-bottom: 15px;

    background: rgba(65, 233, 202, 0.83);
    border-radius: 10px;
    /*margin: 5px;*/

    text-align: center;
    /*justify-content: center;*/
    align-items: center;

    display: flex;

    /*z-index: 20;*/
}

.contact-us p{
    /*position: relative;*/
    width: 458px;
    height: 83px;
    /*bottom: -20px;*/
    margin-top: 20px;


    font-family: 'Suicide Squad Font';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 83px;

    /*align-items: center;*/
    /*text-align: center;*/
    /*justify-content: center;*/

    color: #000000;

    z-index: 1;
}

.contact-us .iframe-flex-container{
    width: 100%;
    height: 80%;
    flex-grow: 1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-us .iframe-box{
    position: relative;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 100%;
    /*height: 660px;*/
    height: 100%;
}

.contact-us iframe{
    width: 100%;
    height: 100%;
}


/*FAQS*/

.faq-box{
    flex-grow: 10;
    /*background: red;*/

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    /*position: relative;*/

    /*padding-top: 10px;*/
    /*padding-bottom: 10px;*/
}

.faq-box Button{
    height:168px;
    /*width: 624px;*/
    position: relative;
    width: 92%;

    background: rgba(98, 182, 201, 0.93);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    margin-top: 15px;

    /*already a built in bottom margin: 8px,*/
    margin-bottom: 7px;

    color: black;
    font-family: "Suicide Squad Font";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 41px;

    padding-right: 152px;

    transition: transform 250ms;
}

.faq-box img{
    position: absolute;
    z-index: 0;

    left:0;
    /*controls triangle position*/
    right:45px;
    margin-left:auto;

    top: 50%;
    transform: translateY(-50%);
}

.faq-box .collapse-container{
    position: relative;
}

.faq-box Button:hover{
    background-color: rgba(98, 182, 201, 0.93);
    box-shadow: none;
    color: black;
    transform: scale(1.02);
}
.faq-box Button[aria-expanded="true"]{
    background-color: rgba(98, 182, 201, 0.93);
    box-shadow: none;
    color: black;

}
.faq-box Button[aria-expanded="false"]{
    background-color: rgba(98, 182, 201, 0.93);
    box-shadow: none;
    color: black;

}

.collapse-text-general{
    position: relative;
    margin: 8px 4% 8px;

    padding: 8px;
    border-radius: 10px;
    background: white;
    text-align: center;
}

