/*General Content Box*/

.content-box{
    position: relative;
    /*width: 1193px;*/

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;

    width: 1350px;
    height: auto;
    min-height: 823px;
    /*width: 60vw;*/
    /*height: 80vh;*/
    /*left: 50%;*/
    /*transform: translate(-50%);*/

    margin: auto;
    scale: 90%;
    top: -120px;

    border-radius: 10px;


    box-shadow:
                0 0 7.8px 11.4px #FFFFFF, /* white border */
                inset 0 0 7.8px 5.4px #FFFFFF, /* white border inset */
                0 0 10.8px 12px #23f6f6,  /* light-blue extends a bit from white */
                inset 0 0 10.8px 15px #23f6f6, /* light-blue inset */
                0 0 180px 40px rgba(0, 168, 168, 1), /* large blue glow */
                inset 0 0 80px 20px rgba(0, 168, 168, 0.8); /* large blue glow inset*/

    background-color: rgba(54, 87, 96, 0.8);

    /*border: 1px solid white;*/
    /*border-width: 1px;*/
    /*border-style: solid;*/
    /*border-color: rgba(255, 255, 255, 1);*/

    /*transform: translate(-50%) scale(95%);*/
    /*top: 498.5px;*/

    /*margin-top: 30vh;*/
    /*margin-left: 20vw;*/
    /*margin-right: 20vw;*/

    /*margin-left: 700px;*/
}

.content-flex-container{
    position: relative;

    /*padding: 15px;*/
    /*margin: 15px;*/
    min-width: 97%;
    min-height: 97%;
    height: auto;
    width: auto;
    display: flex;
    /*left: 195px;*/
    /*top: 529px;*/

    left: 50%;
    transform: translateX(-50%);

    /*padding-bottom: 18px;*/
    /*padding-right: 20px;*/

}

.content{
    flex: 1;
}


/*Contact Us & google Form*/

.contact-us{
    /*box-sizing: border-box;*/


    flex-grow: 9;
    flex-direction: column;

    /*width: 479px;*/
    /*height: 754px;*/
    margin-top: 15px;
    margin-bottom: 15px;

    background: rgba(65, 233, 202, 0.83);
    border-radius: 10px;
    /*margin: 5px;*/

    text-align: center;
    /*justify-content: center;*/
    align-items: center;

    display: flex;

    /*z-index: 20;*/
}

.contact-us p{
    /*position: relative;*/
    width: 458px;
    height: 83px;
    /*bottom: -20px;*/
    margin-top: 20px;


    font-family: 'Suicide Squad Font';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 83px;

    /*align-items: center;*/
    /*text-align: center;*/
    /*justify-content: center;*/

    color: #000000;

    z-index: 1;
}

.contact-us .iframe-flex-container{
    width: 100%;
    height: 80%;
    flex-grow: 1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-us .iframe-box{
    position: relative;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 100%;
    /*height: 660px;*/
    height: 100%;
}

.contact-us iframe{
    width: 100%;
    height: 100%;
}


/*FAQS*/

.faq-box{
    flex-grow: 10;
    /*background: red;*/

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    /*position: relative;*/

    /*padding-top: 10px;*/
    /*padding-bottom: 10px;*/

}

.faq-box-scroll-container{
    max-height: 790px;
    overflow-y: scroll;
}

.faq-box Button{
    height:168px;
    /*width: 624px;*/
    position: relative;
    width: 92%;

    background: rgba(98, 182, 201, 0.93);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    margin-top: 15px;

    /*already a built in bottom margin: 8px,*/
    margin-bottom: 7px;

    color: black;
    font-family: "Suicide Squad Font";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 41px;

    padding-right: 152px;

    transition: transform 250ms !important;
}

.faq-box img{
    position: absolute;
    z-index: 0;

    left:0;
    /*controls triangle position*/
    right:45px;
    margin-left:auto;

    top: 50%;
    transform: translateY(-50%);
}

.faq-box .collapse-container{
    position: relative;
}

.faq-box Button:hover{
    background-color: rgba(98, 182, 201, 0.93);
    box-shadow: none;
    color: black;
    transform: scale(1.02);
}
.faq-box Button[aria-expanded="true"]{
    background-color: rgba(98, 182, 201, 0.93);
    box-shadow: none;
    color: black;

}
.faq-box Button[aria-expanded="false"]{
    background-color: rgba(98, 182, 201, 0.93);
    box-shadow: none;
    color: black;

}

.collapse-text-general{
    position: relative;
    margin: 8px 4% 8px;

    padding: 8px;
    border-radius: 10px;
    background: white;
    text-align: center;
}



@media screen and (max-width: 1355px){

    .rectangle20{
        top: 8px;
    }

    .content-box{
        position: relative;
        width: 82%;
        padding-left: 4px;
    }

    .content-flex-container{
        position: relative;

        padding: 30px;
        margin: 0;
        /*min-width: 90%;*/
        /*min-height: 97%;*/
        height: auto;
        width: 80%;
        display: flex;
        flex-direction: column;
        /*left: 195px;*/
        /*top: 529px;*/
        flex-wrap: wrap;

        left: 50%;
        transform: translateX(-50%);

        padding-bottom: 70px;
    }

    .contact-us{
        flex-grow: 9;
        flex-direction: column;


        min-width: 92%;
        /*height: 100%;*/
        margin: 30px auto 15px;

        display: flex;
    }

    .contact-us .iframe-flex-container{
        height: auto;
        flex-grow: 1;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contact-us .iframe-box{
        position: relative;
        align-items: center;
        align-content: center;
        text-align: center;
        width: 100%;
        /*height: 660px;*/
        height: auto;
    }

    .contact-us iframe{
        width: 100%;
        height: 680px;
    }

    .faq-box    {
        position: relative;
        /*left: -14px;*/
        /*margin: auto;*/
        /*width: 92%;*/
    }

    .collapse-container{
        min-width: 0;
        /*width: 200px;*/
    }


}

@media screen and (max-width: 840px) {
    .content-box{
        width: 96%;
        padding-left: 4px;
    }

    .faq-box{
        flex-grow: 10;
        /*background: red;*/
        width: 100%;

        display: flex;
        flex-direction: column;
    }

    .contact-us{
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .contact-us p{
        font-size: 54px;
    }
}
