/*FAQ Text*/

.faq-text{
    /*position: static;*/
    /*display: block;*/


    /*margin-left: 40vw;*/
    /*margin-right: 40vw;*/

    position: relative;

    width: 297px;
    height: calc(240px * 2);

    left: 50%;
    /*transform: translate(-50%) scale(95%);*/
    transform: translate(-50%);
    scale: 110%;
}

.faq-text p{
    position: absolute;
    width: 297px;
    height: 230px;
    /*left: 607.5px;*/
    left: 50%;
    top: 189px;

    transform: translate(-50%);

    font-family: "Suicide Squad Font", monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 200px;
    line-height: 230px;

    /* identical to box height */
    /*display: flex;*/
    /*align-items: center;*/
    /*text-align: center;*/
}

.faq-text #one{
    /*filter: blur(0.531944px);*/
    mix-blend-mode: luminosity;

    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 2.39583px;
    z-index: 6;
}

.faq-text #two{
    filter: blur(1.09792px);

    -webkit-text-stroke-color: #23f6f6;
    -webkit-text-stroke-width: 7.69167px;
    z-index: 5;
}

.faq-text #three{
    transform: scale(1.03);

    mix-blend-mode: hard-light;
    text-shadow: 0px 11.1439px 14.487px #009999, 0px 7.13646px 5.48958px rgba(0, 77, 70, 0.7);

    -webkit-text-stroke-color: rgba(51, 233, 198, 0.2);
    -webkit-text-stroke-width: 7.13646px;
    left: 0px;

    z-index: -1;
}

.faq-text #four{
    mix-blend-mode: hard-light;
    filter: blur(11.1439px);

    -webkit-text-stroke-color: #00A8A8;
    -webkit-text-stroke-width: 9.33229px;

    z-index: 3;
}

.faq-text #five{
    mix-blend-mode: hard-light;
    filter: blur(33.4316px);

    -webkit-text-stroke-color: #00A8A8;
    -webkit-text-stroke-width: 7.13646px;

    z-index: 2;
}

.ellipseFaq{
    position: absolute;
    width: 356.4px;
    height: 276px;
    /*left: 577.8px;*/
    top: 166px;

    left: 50%;
    transform: translate(-50%);

    background: rgba(51, 233, 198, 0.2015);
    mix-blend-mode: hard-light;
    filter: blur(33.4316px);

    z-index: 7;
}

.faq-text #six{
    /* FAq */

    position: absolute;
    width: 287px;
    height: 222px;
    top: 193px;

    left: 50%;
    transform: translate(-50%);

    font-family: 'Suicide Squad Font';
    font-style: normal;
    font-weight: 400;
    font-size: 193px;
    line-height: 222px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;

    color: rgba(255, 255, 255, 0.4);

    z-index: 6;
}