@font-face {
  font-family: SuicideSquadFont;
  src: url(SuicideSquadFont-v5jA.ttf);
}

.LB_manager {
  background-image: url(suicide-squad-typography-hd.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 5%;
}

.title {
  max-width: 100%;
  height: auto;
  width: auto\9;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.leaderboard_parent {
  display: flex;
  justify-content: center;

  padding-bottom: 4vw;
}

.leaderboard_child {
  border-collapse: collapse;
  width: 80%;

  box-shadow: 0 0 0.1vw 0.25vw #fff7f7, 0 0 0.4vw 0.6vw #00b2ff,
    0 0 4vw 0.4vw #82d9ff, inset 0 0 1.5vw 0.4vw #00b2ff,
    inset 0 0 0.4vw 0.2vw #82d9ff, inset 0 0 0.5vw 0.2vw #fff7f7;
  border-radius: 0.25rem;
}

.leaderboard_child th {
  font-size: 4vw;
  border-bottom: 6px solid #95cae2;
  padding: 8px;
  padding-bottom: 0;
  text-align: center;
  color: white;

  font-family: SuicideSquadFont;
}

.leaderboard_child td {
  font-size: 3vw;
  border-bottom: 6px solid #95cae2;
  padding: 8px;

  color: white;
  font-family: SuicideSquadFont;
  text-align: center;
}

.leaderboard_child tr:nth-child(even) {
  background: rgba(149, 202, 226, 0.481);
}
.leaderboard_child tr:nth-child(odd):not(:first-child) {
  background: rgba(0, 178, 255, 0.281);
}

@media screen and (max-width: 1100px) {
  .leaderboard_child td {
    font-size: 4vw;
  }
}

@media screen and (max-width: 912px) {
  .LB_manager {
    height: 94vh;
    width: 101vw;
    margin-top: 0%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
