
/* CARD ELEMENT */

.card {
    width: 200px;
    height: 285px;
    max-height: auto;
    border-radius: 19px;
    border: none;
    margin: 20px auto;
    position: relative;
  }
  
  .card > img {
    width: 100%;
    height: 100%;
    border-radius: 19px;
    object-fit: cover;
    z-index: 0;
  }
  
  .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #053e25;
    opacity: 0.35;
    border-radius: 19px;
    z-index: 1;
  }
  
  .photo{
    position: absolute;
    width: 140px;
    height: 140px;
    top: 20px;
    left: 30px;
    z-index: 2;
  }
  
  .photo > img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 19px;
    box-shadow: 3px 3px rgba(0,0,0,0.3);
  }
  
  .content {
    position: absolute;
    width: 100%;
    height: 130px;
    top: 165px;
    left: 0px;
    padding: 10px 5px;
    text-align: center;
    font-family: "suicide-squad";
    z-index: 2;
  }
  
  .content h2, .content p{
    font-family: "Inter", sans-serif;
  }
  
  .content h2{
    font-size: 1.25rem;
    font-weight: 700;
    color: #fff;
    text-shadow: 3px 6px 10px rgba(0, 0, 0, 0.3);
    padding: 0px 0px 5px 0px;
  }
  
  .content p{
    font-size: 0.95rem;
    font-weight: 700;
    color: #fff;
    text-shadow: 3px 6px 10px rgba(0, 0, 0, 0.3);
    padding: 0px 0px 3px 0px;
  }
  
  .content p:nth-child(3) {
    font-weight: 700;
  }
  /* END OF CARD ELEMENT */
  
/* Maincomm and Subcomm Container */


/* End of Maincomm and Subcomm Container */


  /* START OF PORTFOL SECTION */

.maincomm, .subcomm {
    display:none;
    width: 85%;
    flex-wrap: wrap;
    margin: 20px auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
  }
  
  .subcomm {
    margin-bottom: 50px;
  }
  
  /* END OF PORTFOL SECTION */
  
  /* Maincomm Flexbox */
  .active{
    display:flex;
    animation-name: slides;
    animation-duration:1s;
    animation-delay: 0s;
    
  }

  @keyframes slides {
    0% {opacity:1;
      transform:scale(0.95);
      transition: all 0.5s ease-in;}
    50% {
      opacity: 1;
      transform:scale(1);
      transition: all 0.5s ease-in;
    }
  }
  
  
  
  @media only screen and (max-width: 800px){
    .cards {
      margin: 0px 0px 10px 0px;
    }
    .active{
        display:block;
      }
    }
    